.aside {
    background-color: rgb(165, 174, 183);
}
.brand {
    position: relative;
    width: var(--brandWidth);
    height: var(--brandHeight);
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    &__container {
        width: var(--brandCotainerWidth);
        height: 100px;
        text-align: center;
        animation: scrolling var(--brandAnimationDuration) linear infinite;
    }
    &__name {
        position: relative;
        @include alignYByTransform();
        height: auto;
        max-width: 100%;
    }
}

