@charset "UTF-8";
.body__message {
  background-color: #e9e6e1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  text-align: center;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
  margin: 10px auto 30px auto;
  overflow: hidden;
}

.body__message--off {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: #cab8a7;
}

::selection {
  background: #cab8a7;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-our-team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.section-our-team__header {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.section-more-info__container-description, .versions-of-projects__container-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 920px) {
  .section-more-info__container-description, .versions-of-projects__container-description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .description-about-us--left-side, .project-description--left-side {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.description-about-us, .project-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-why-is-worth__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  grid-gap: 60px;
}

.section-why-is-worth__container__header {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brand {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 15px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (minmax(auto, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(auto, auto));
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@-webkit-keyframes menu-animation {
  50% {
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
  }
  80% {
    top: 2%;
    bottom: 2%;
    left: 2%;
    right: 2%;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
  }
}

@keyframes menu-animation {
  50% {
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
  }
  80% {
    top: 2%;
    bottom: 2%;
    left: 2%;
    right: 2%;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
  }
}

@-webkit-keyframes arrow-right-moves {
  50% {
    right: 20px;
  }
  100% {
    right: 35px;
  }
}

@keyframes arrow-right-moves {
  50% {
    right: 20px;
  }
  100% {
    right: 35px;
  }
}

@-webkit-keyframes arrow-left-moves {
  50% {
    left: 20px;
  }
  100% {
    left: 35px;
  }
}

@keyframes arrow-left-moves {
  50% {
    left: 20px;
  }
  100% {
    left: 35px;
  }
}

:root {
  --brandWidth: 80vw;
  --brandHeight: 100px;
  --brandDisplayedElements: 3;
  --brandCotainerWidth: calc(var(--brandWidth) / var(--brandDisplayedElements));
  --brandAnimationDuration: calc(var(--brandElements) * 3s);
}

@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translateX(calc(-1 * var(--brandCotainerWidth) * var(--brandElements)));
            transform: translateX(calc(-1 * var(--brandCotainerWidth) * var(--brandElements)));
  }
}

@keyframes scrolling {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translateX(calc(-1 * var(--brandCotainerWidth) * var(--brandElements)));
            transform: translateX(calc(-1 * var(--brandCotainerWidth) * var(--brandElements)));
  }
}

@-webkit-keyframes slidePersons {
  0% {
    left: -100vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes slidePersons {
  0% {
    left: -100vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.types-of-packages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 970px) {
  .types-of-packages__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.parts__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.searching {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.article__button {
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (min-width: 850px) {
  .articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.form__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment__image-and-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .comment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.body {
  background-color: #e9e6e1;
  font-family: "Roboto", sans-serif;
  color: #211d1e;
}

.navigation {
  position: fixed;
  z-index: 3;
  -webkit-box-shadow: 0px 11px 24px -7px rgba(165, 174, 183, 0.8);
          box-shadow: 0px 11px 24px -7px rgba(165, 174, 183, 0.8);
  background-color: #e9e6e1;
  height: 50px;
  width: 100%;
}

.navigation__container {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
}

.logo {
  width: 17vw;
  max-width: 70px;
  line-height: 50px;
}

.logo__image {
  width: 100%;
  height: auto;
  margin-left: 10px;
  cursor: pointer;
}

.menu__hamburger {
  position: absolute;
  z-index: 3;
  top: 14px;
  right: 14px;
  font-size: 22px;
}

.menu__hamburger--off {
  display: none;
}

.menu__list {
  position: fixed;
  z-index: 2;
  display: none;
  background-color: rgba(165, 174, 183, 0.4);
  text-align: center;
  -webkit-transition: 2s;
  transition: 2s;
}

.menu__list--on {
  display: block;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  border-radius: 50%;
  -webkit-animation: menu-animation 0.5s forwards linear;
          animation: menu-animation 0.5s forwards linear;
}

.menu__link {
  display: block;
  width: 100%;
  color: #211d1e;
  text-decoration: none;
}

.menu__item, .menu__lang {
  position: relative;
  top: 0;
  padding: 15px;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  font-family: "Lora", serif;
  text-transform: uppercase;
  list-style: none;
  -webkit-transition: .4s;
  transition: .4s;
}

.menu__item {
  font-size: 5vw;
}

.menu__lang {
  color: #211d1e;
  cursor: pointer;
}

.menu__item::after {
  display: block;
  margin: 5px auto;
  content: '';
  width: 45px;
  height: 1px;
  margin-top: 15px;
  background-color: #211d1e;
}

@media (min-width: 970px) {
  .menu__lang {
    font-size: 16px;
  }
}

@media (min-width: 970px) {
  .menu__lang {
    font-size: 16px;
  }
}

@media (max-width: 970px) {
  .menu__lang {
    font-size: 5vw;
  }
}

@media (max-width: 400px) {
  .menu__item::after {
    display: none;
  }
}

@media (min-width: 500px) {
  .menu__item {
    font-size: 25px;
  }
}

@media (orientation: landscape) and (max-width: 969px) {
  .menu__item, .menu .menu__lang {
    font-size: 5vh;
    padding: 10px;
  }
  .menu__item::after {
    display: none;
  }
}

@media (min-width: 970px) {
  .menu__hamburger {
    display: none;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: -31px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 595px;
    background-color: transparent;
  }
  .menu__item {
    font-size: 16px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .menu__item:hover {
    -webkit-transform: translate(0, 50%) scale(1.05);
            transform: translate(0, 50%) scale(1.05);
  }
  .menu__item::after {
    display: none;
  }
}

.navigation-icons {
  position: absolute;
  top: 12px;
  right: 40px;
  min-width: 140px;
}

.navigation-icons__link {
  display: block;
  text-align: center;
  color: #211d1e;
}

.navigation-icons__image {
  display: block;
  width: 22px;
}

.navigation-icons__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 1024px) {
  .navigation-icons {
    right: 1%;
  }
}

.slider {
  position: relative;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.slider__image {
  display: block;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
}

.slider__header {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 8vw;
  font-family: "Lora", serif;
  font-weight: normal;
  text-transform: uppercase;
}

.slider__header::after {
  display: block;
  margin: 5px auto;
  content: '';
  width: 45px;
  height: 1px;
  margin-top: 15px;
  background-color: #211d1e;
}

.slider__arrow {
  font-size: 30px;
  color: #d3a999;
}

.slider__arrow--right, .slider .slider__arrow--left {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.slider__arrow--left {
  left: 35px;
  -webkit-animation: arrow-left-moves 2s linear infinite;
          animation: arrow-left-moves 2s linear infinite;
}

.slider__arrow--right {
  right: 35px;
  -webkit-animation: arrow-right-moves 2s linear infinite;
          animation: arrow-right-moves 2s linear infinite;
}

.slider__dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #e9e6e1;
}

.slider__dot {
  font-size: 50px;
}

.slider__dot--active {
  color: #d3a999;
}

@media (min-width: 780px) {
  .slider__header::after {
    width: 100px;
  }
}

@media (min-width: 1000px) {
  .slider__header {
    font-size: 80px;
  }
}

.section-about {
  max-width: 1240px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

.section-about__header {
  font-family: "Lora", serif;
  letter-spacing: 1px;
  margin: 10px auto 30px auto;
}

.section-about__header::after {
  display: block;
  margin: 5px auto;
  content: '';
  width: 45px;
  height: 1px;
  margin-top: 15px;
  background-color: #211d1e;
}

.section-about__description {
  margin-bottom: 10px;
  line-height: 30px;
}

.section-our-team {
  max-width: 790px;
  margin: 0 auto 20px auto;
  text-align: center;
}

.section-our-team__header {
  font-family: "Lora", serif;
  letter-spacing: 1px;
  margin: 10px auto 30px auto;
}

.section-our-team__header::after {
  display: block;
  margin: 5px auto;
  content: '';
  width: 45px;
  height: 1px;
  margin-top: 15px;
  background-color: #211d1e;
}

.person {
  padding: 15px;
  overflow: hidden;
}

.person__image-container {
  width: 100%;
}

.person__image {
  position: relative;
  left: -100vw;
  height: auto;
  max-width: 100%;
  -webkit-transition: 3s;
  transition: 3s;
}

.person__image--show {
  -webkit-animation: slidePersons 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
          animation: slidePersons 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.person__name {
  font-family: "Lora", serif;
  letter-spacing: 1px;
  margin: 10px auto 30px auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.person__proffesion {
  margin-bottom: 10px;
}

.person__duties {
  line-height: 23px;
}

.section-more-info--bgc {
  background-color: #d3a999;
  padding-bottom: 30px;
}

.section-more-info__container-description {
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
}

.description-about-us {
  padding: 15px 25px;
  line-height: 23px;
}

.description-about-us__header {
  font-family: "Lora", serif;
  letter-spacing: 1px;
  margin: 10px auto 30px auto;
}

.description-about-us__header::after {
  display: block;
  margin: 5px auto;
  content: '';
  width: 45px;
  height: 1px;
  margin-top: 15px;
  background-color: #211d1e;
}

.description-about-us__list {
  margin-top: 20px;
  text-align: left;
  line-height: 30px;
}

.description-about-us__item {
  list-style-type: '🏠 ';
  list-style-position: inside;
}

.description-about-us__text {
  margin-bottom: 15px;
}

.description-about-us__image-container {
  width: 100%;
}

.description-about-us__image {
  max-width: 100%;
}

@media (min-width: 920px) {
  .description-about-us {
    width: 50%;
  }
  .description-about-us__list, .description-about-us .description-about-us__text--off {
    display: none;
  }
  .description-about-us__image-container {
    width: 50%;
  }
  .section-more-info--bgc {
    padding-bottom: 0;
  }
}

.section-why-is-worth {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

.section-why-is-worth__header {
  font-family: "Lora", serif;
  letter-spacing: 1px;
  margin: 10px auto 30px auto;
}

.section-why-is-worth__header::after {
  display: block;
  margin: 5px auto;
  content: '';
  width: 45px;
  height: 1px;
  margin-top: 15px;
  background-color: #211d1e;
}

.rounded-icons__container {
  position: relative;
  width: 35vw;
  height: 35vw;
  max-width: 130px;
  max-height: 130px;
  margin: 0 auto;
  background-color: rgba(165, 174, 183, 0.5);
  -webkit-box-shadow: 5px 1px 24px -7px #a5aeb7;
          box-shadow: 5px 1px 24px -7px #a5aeb7;
  border-radius: 50%;
}

.rounded-icons__image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 60%;
  height: auto;
}

.rounded-icons__header {
  font-family: "Lora", serif;
  letter-spacing: 1px;
  margin: 10px auto 30px auto;
  margin-top: 15px;
}

.counter {
  text-align: center;
}

.counter__number {
  font-family: "Lora", serif;
  letter-spacing: 1px;
  margin: 10px auto 30px auto;
  margin-bottom: 20px;
  font-size: 50px;
}

.counter__number::after {
  display: block;
  margin: 5px auto;
  content: '';
  width: 45px;
  height: 1px;
  margin-top: 15px;
  background-color: #211d1e;
}

.counter__text {
  margin-bottom: 30px;
}

.aside {
  background-color: #a5aeb7;
}

.brand {
  position: relative;
  width: var(--brandWidth);
  height: var(--brandHeight);
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}

.brand__container {
  width: var(--brandCotainerWidth);
  height: 100px;
  text-align: center;
  -webkit-animation: scrolling var(--brandAnimationDuration) linear infinite;
          animation: scrolling var(--brandAnimationDuration) linear infinite;
}

.brand__name {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: auto;
  max-width: 100%;
}

.footer {
  background: no-repeat fixed 50% 50%;
  background-size: cover;
}

.footer__container {
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
}

.footer__logo {
  width: 100px;
  margin: 20px auto 0 auto;
}

@media (min-width: 1024px) {
  .footer__container {
    margin-top: 20px;
  }
  .footer__logo {
    margin: 0;
  }
}

.contact__header {
  font-family: "Lora", serif;
  letter-spacing: 1px;
  margin: 10px auto 30px auto;
}

.contact__header::after {
  display: block;
  margin: 5px auto;
  content: '';
  width: 45px;
  height: 1px;
  margin-top: 15px;
  background-color: #211d1e;
}

.contact__text {
  line-height: 26px;
  margin-bottom: 30px;
}

.contact__big-letters {
  text-transform: uppercase;
}

.footer-icons____link {
  text-decoration: none;
}

.footer-icons__image {
  margin: 0 10px 20px 0;
  font-size: 20px;
  color: #211d1e;
}
/*# sourceMappingURL=style.css.map */